.iframe-container {
  width: 100%;
  height: calc(100vh - 10rem); /* compensates for mt-5 + pt-5 */
  overflow: hidden;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
