@keyframes appear {
    0% {
        transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        -o-transform: translateY(-15%); 
        -moz-transform: translateY(-15%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0); 
        -moz-transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes appear2 {
    0% {
        transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        -o-transform: translateY(-15%); 
        -moz-transform: translateY(-15%);
        opacity: 0%;
    }
    66% {
        transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        -o-transform: translateY(-15%); 
        -moz-transform: translateY(-15%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0); 
        -moz-transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes line-appear {
    0% {
        width: 0%;
    }
    33% {
        width: 0%;
    }
    100% {
        width: calc(10em + 10vw);
    }
}
/*for video collage editing*/
/* #weareutshpe-img{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)), url(../images/Website_Placeholder_2.JPG);
    z-index: -1;
} */
.title{
    /* font-family: "Cairo"; */
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    letter-spacing: 1px;
    line-height: 2;
  }
  
  h1.weareutshpe {
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2diZWM0Z3k2ZDhtZHF5NGx3dGQyaWJzczZ0aHY0YWF1NnB0cWtobiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/FE0WTM8BG754I/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 160px;
    margin: 10px 0;
  }
  
@media(max-width: 700px){
    h1.weareutshpe{
        font-size: 50px;
    }
}

/*for animating color change for nav links*/
.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #2A6E86 0%, #FF4500 40%, #005CAF 70%, #C12400 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
}

    .animate-character.active {
        background-image: linear-gradient(-225deg, #FF5500 0%, #404040 25%, #FFFFFF 40%, #FF5500 100%);
        animation: textclip-active 2s linear infinite, colorChange 0.5s ease;
    }

    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }

    @keyframes textclip-active {
        to {
            background-position: -200% center;
        }
    }

    @keyframes colorChange {
        from {
            color: #FF5500;
        }
        to {
            color: #FFFFFF;
        }
    }


/* Multiple use Classes */
.background-photo {
    padding-bottom: 250px;
    padding-top: 250px;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.section-header-text {
    font-family: 'Impact', sans-serif;
    color: #C35300;
    font-size: clamp(1.75rem, 5vw ,3rem)
}

.section-subheader-text {
    font-family: 'Impact', sans-serif;
    color: #1a2857;
    font-size: clamp(1.75rem, 5vw ,2rem);
}

.section-text {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'Lato', sans-serif;
    color: black;
}

.center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* One-time use classes */
/* Home Page classes */
#landing {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.7), 
        rgba(200, 200, 200, 0.7)), url(../images/Website_Placeholder_5.JPG);
}

.header-text {
    color: #1a2857;
    font-size: calc(3rem + 3vw);
    font-weight: bold;
    transition: .15s;
}

.header-animation {
    animation: 1s ease-out 0s 1 appear;
}

.subtext-animation {
    animation: 3s ease-out 0s 1 appear2;
}

.header-logo {
    width: calc(3.1 * (3rem + 3vw));
    height: calc(3rem + 3vw);
    transition: .15s;
}

.header-line {
    animation: 1.5s ease-in-out 0s 1 line-appear;
    color: black;
    height: 2px;
    border-width: 2px;
    opacity: 100%;
    width: calc(10em + 10vw);
    margin-inline-start: auto;
    margin-inline-end: auto;
    transition: .15s;
}

#gm {
    padding: 50px;
}

.gm-flyer {
    padding-left: auto;
    padding-right: auto;
}

#photo1 {
    background-image: url(../images/Website_Placeholder_4.jpg);
}

#photo2 {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.7), 
        rgba(200, 200, 200, 0.7)), url(../images/Website_Placeholder_5.JPG);
}

#photo3 {
    background-image: url(../images/Pillar\ Banner\ Photo\ Test.jpeg);
}

#photo4 {
    background-image: url(../images/leadershpe_photo_card.jpg);
}

#photo5 {
    background-image: url(../images/Sponsorship\ Banner\ Photo.jpeg);
}

#photo6 {
    background-image: url(../images/Contact\ Us\ Banner1.jpg);
}

#weekly-update {
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.event-flyer-container {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.media_update_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}


  
@media (max-width: 992px) {
    .media_update_container {
      flex-direction: row;
    }
  }

.event-flyer {
    max-width: 700px;
    min-width: 400px;
    transition: .15s;
}

.event-flyer:hover {
    transform: scale(1.15);
}

/* About page classes */
#about {
    padding: 15px;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.vertical-line-left {
    border-left: none;
}

.vertical-line-right {
    border-right: none;
}

.left-about {
    padding-left: 0vw; 
    padding-right: 0vw; 
    padding-top: 20px;
}

.right-about {
    padding-left: 0vw; 
    padding-right: 0vw; 
    padding-top: 20px;
}

/* Pillars Classes */
.reveal-left {
    position: relative;
    transform: translateX(-20px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal-right {
    position: relative;
    transform: translateX(-20px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal-left.active {
    transform: translateX(0);
    opacity: 1;
}

.reveal-right.active {
    transform: translateX(0);
    opacity: 1;
}

.card-title-text {
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-family: 'Impact', sans-serif;
    color: #C35300;
}

.card-body-text {
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-family: 'Lato', sans-serif;
    color: black;
}

/* Leadership classes */

.leader-card {
    width: 18rem;
    height: 25rem;
    border-radius: calc(0.375rem - 1px);
    box-shadow: 5px;
    padding-top: 1rem;
    background-color: transparent;
    perspective: 1000px;
}

.leader-card-image {
    width: 10rem;
    height: auto;
    border-radius: calc(0.375rem - 1px);
}


.leader-card-body {
    background-color: #011f5b;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1rem;
    border-radius: calc(0.375rem - 1px);
    max-height: 300px; 
    overflow: auto;
}

.leader-card-text {
    color:#C35300;
    font-family: 'Impact', sans-serif;
}

.leader-card-text-size{
    font-size: 12px;
}

.leader-card-inner-border {
    position: relative;
    width: 90%;
    height: 90%;
    border-style: solid;
    color: #72abbf;
    border-width: 2px;
    padding-top: 1rem;
}

.leader-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.leader-card:hover .leader-card-inner {
    transform: rotateY(180deg);
}

.leader-card-front, .leader-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: calc(0.375rem - 1px);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.leader-card-front {
    background-color: #011f5b;
    color: black;
}

.leader-card-back {
    background-color: #011f5b;
    color: white;
    transform: rotateY(180deg);
}

/* Sponsorship Classes */
.tier-text {
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    font-family: 'Lato', sans-serif;
    color: white;
}

.sponsor-card {
    width: 90%;
    border-width: 2px;
    border-radius: calc(0.375rem - 1px);
    border-style: solid;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: #011f5b;
}

.sponsor-card-inner-border {
    position: relative;
    width: 90%;
    height: 90%;
    border-style: solid;
    color: #72abbf;
    border-width: 2px;
    padding-top: 1rem;
    padding-left: 5px;
    padding-right: 5px;
}




.slide-in{
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.sponsor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .sponsor {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
    border-radius: 5px;
    column-count: 3;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }
  
  .sponsor-content {
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @media (max-width: 800px) {
    .sponsor {
      flex-basis: 20%;
      column-count: 2;
    }
  }
  
  
  
  
  








/* Contact us Classes */
.contact-social-logo {
    font-size: 3em;
    color:#011f5b;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.contact-social-logo:hover {
    color:#BF5700;
}

/* Footer classes */
#footer {
    background-color: #011f5b;
    padding: 25px;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.footer-info {
    padding: 15px;
}

.social-logo {
    font-size: 3em;
    color:white;
    padding: 5px;
}

.social-logo:hover {
    color: #BF5700;
}

/* Media querys */
@media screen and (min-width: 768px) {
    .vertical-line-left {
        border-left: 1px solid #1a2857;
    }

    .vertical-line-right {
        border-right: 1px solid #1a2857;
    }

    .left-about {
        padding-left: 3vw; 
        padding-right: 0vw; 
        padding-top: 20px;
    }

    .right-about {
        padding-left: 0vw; 
        padding-right: 3vw; 
        padding-top: 20px;
    }
}

@media screen and (max-device-width: 1024px) {
    .background-photo {
        height: 35vh;
        margin-top: 57px;
        padding-top: 65px;
        padding-bottom: 85px;
        background-attachment: scroll;
    }

    #photo2 {
        height: 35vh;
        margin-top: 57px;
        padding-top: 65px;
        padding-bottom: 65px;
        background-attachment: scroll;
    }
}


