@keyframes appear {
    0% {
        transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        -o-transform: translateY(-15%); 
        -moz-transform: translateY(-15%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0); 
        -moz-transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes appear2 {
    0% {
        transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        -o-transform: translateY(-15%); 
        -moz-transform: translateY(-15%);
        opacity: 0%;
    }
    66% {
        transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        -o-transform: translateY(-15%); 
        -moz-transform: translateY(-15%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0); 
        -moz-transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes line-appear {
    0% {
        width: 0%;
    }
    33% {
        width: 0%;
    }
    100% {
        width: calc(10em + 10vw);
    }
}

/* Multiple use Classes */
.background-photo {
    padding-bottom: 250px;
    padding-top: 250px;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.section-header-text {
    font-family: 'Impact', sans-serif;
    color: #C35300;
    font-size: clamp(1.75rem, 5vw ,3rem)
}

.section-subheader-text {
    font-family: 'Impact', sans-serif;
    color: #1a2857;
    font-size: clamp(1.75rem, 5vw ,2rem);
}

.section-text {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'Lato', sans-serif;
    color: black;
}

.center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* One-time use classes */
/* Home Page classes */
#landing {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.7), 
        rgba(200, 200, 200, 0.7)), url(../images/Website_Placeholder_2.jpg);
}

.header-text {
    color: #1a2857;
    font-size: calc(3rem + 3vw);
    font-weight: bold;
    transition: .15s;
}

.header-animation {
    animation: 1s ease-out 0s 1 appear;
}

.subtext-animation {
    animation: 3s ease-out 0s 1 appear2;
}

.header-logo {
    width: calc(3.1 * (3rem + 3vw));
    height: calc(3rem + 3vw);
    transition: .15s;
}

.header-line {
    animation: 1.5s ease-in-out 0s 1 line-appear;
    color: black;
    height: 2px;
    border-width: 2px;
    opacity: 100%;
    width: calc(10em + 10vw);
    margin-inline-start: auto;
    margin-inline-end: auto;
    transition: .15s;
}

#gm {
    padding: 50px;
}

.gm-flyer {
    padding-left: auto;
    padding-right: auto;
}

#photo1 {
    background-image: url(../images/Website_Placeholder_3.jpg);
}

#photo2 {
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.7), 
        rgba(200, 200, 200, 0.7)), url(../images/Website_Placeholder_2.jpg);
}

#photo3 {
    background-image: url(../images/Pillar\ Banner\ Photo\ Test.jpeg);
}

#weekly-update {
    padding: 15px;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.event-flyer-container {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.event-flyer {
    max-width: 400px;
    min-width: 100px;
    transition: .15s;
}

.event-flyer:hover {
    transform: scale(1.15);
}

/* About page classes */
#about {
    padding: 15px;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.vertical-line-left {
    border-left: none;
}

.vertical-line-right {
    border-right: none;
}

.left-about {
    padding-left: 0vw; 
    padding-right: 0vw; 
    padding-top: 20px;
}

.right-about {
    padding-left: 0vw; 
    padding-right: 0vw; 
    padding-top: 20px;
}

/* Pillars Classes */
.reveal-left {
    position: relative;
    transform: translateX(20px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal-right {
    position: relative;
    transform: translateX(-20px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal-left.active {
    transform: translateX(0);
    opacity: 1;
}

.reveal-right.active {
    transform: translateX(0);
    opacity: 1;
}

.card-title-text {
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-family: 'Impact', sans-serif;
    color: #C35300;
}

.card-body-text {
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-family: 'Lato', sans-serif;
    color: black;
}


/* Footer classes */
#footer {
    background-color: #1a2857;
    padding: 25px;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.footer-info {
    padding: 15px;
}

.social-logo {
    font-size: 3em;
    color:white;
    padding: 5px;
}

.social-logo:hover {
    color: #BF5700;
}

/* Media querys */
@media screen and (min-width: 768px) {
    .vertical-line-left {
        border-left: 1px solid #1a2857;
    }

    .vertical-line-right {
        border-right: 1px solid #1a2857;
    }

    .left-about {
        padding-left: 3vw; 
        padding-right: 0vw; 
        padding-top: 20px;
    }

    .right-about {
        padding-left: 0vw; 
        padding-right: 3vw; 
        padding-top: 20px;
    }
}

@media screen and (max-device-width: 1024px) {
    .background-photo {
        height: 35vh;
        margin-top: 57px;
        padding-top: 65px;
        padding-bottom: 85px;
        background-attachment: scroll;
    }

    #photo2 {
        height: 35vh;
        margin-top: 57px;
        padding-top: 65px;
        padding-bottom: 65px;
        background-attachment: scroll;
    }
}