html,
body,
#root {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333; /* Make default color text dark grey, subject to change of*/
  padding-top: 64px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
